:root {
  /* color */
  --black: 0, 0, 0;
  --white: 255, 255, 255;
  --royalblue: 0, 40, 85;
  --rad: 230, 10, 25;
  --marineblue: 0, 51, 108;
  --coral: 190, 80, 25;
  --opcoral: 210, 112, 35 ;
  /* size */
  --font42: 2.1rem;
  --font36: 1.8rem;
  --font28: 1.4rem;
  --font26: 1.3rem;
  --font24: 1.2rem;
  --font22: 1.1rem;
  --font20: 1rem;
  --font18: .9rem;
  --font16: .8rem;
  --font14: .7rem;
  --font13: .65rem;
  /*font-family*/
  --gMark: "GS", sans-serif;
  --sunBatang: "SB", sans-serif;
  --Nanum: "NS";
  --thai:"thai", sans-serif;
}