:root {
	/* color */
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	--royalblue: 0, 40, 85;
	--rad: 230, 10, 25;
	--marineblue: 0, 51, 108;
	--coral: 190, 80, 25;
	/* size */
	--font110: 110px;
	--font36: 36px;
	--font28: 28px;
	--font26: 26px;
	--font24: 24px;
	--font22: 22px;
	--font20: 20px;
	--font18: 18px;
	--font16: 16px;
	--font14: 14px;
	--font13: 13px;
	/*font-family*/
	--gMark: "GS", sans-serif;
	--sunBatang: "SB", sans-serif;
	--Nanum: "NS";
	--thai:"thai", sans-serif;
}