.remix{
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

[data-input-common] {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: .5rem;
    padding-inline: .5rem;
    width: 100%;
    height: 2rem;
    border: .5px solid rgba(var(--white), 1);
    // border-radius: .15rem;
    font-size: .7rem;

    &.required {
        > .is-required {
            display: block;
        }
    }

    &.extras {
        > .input-extras {
            display: flex;
        }
    }

    > .is-required {
        flex-shrink: 0;
        display: none;
        font-size: .6rem;
        color: rgba(var(--black), .3)
    }

    > input {
        flex: 1 1 auto;
        outline: none;
        cursor: pointer;
        color: rgba(var(--white), 1)    ;

        &::placeholder {
            transition: .15s all ease-out;
        }

        &:focus {
            &::placeholder {
                opacity: .9;
            }
        }
    }

    > textarea {
        flex: 1 1 auto;
        outline: none;
        resize: none;
    }

    > .input-extras {
        flex-shrink: 0;
        display: none;
        align-items: center;
        font-size: .9rem;

        > hr {
            margin-inline-end: .5rem;
            height: .8rem;
            opacity: .1;
        }

        > button {
            display: block;
            padding: .15rem;
            font-size: .9rem;
            color:rgba(var(--white), .9);
            cursor: pointer;
        }
    }

    // &:hover {
    //     border-color: rgba(var(--black), .3);
    // }

    &:focus-within {
        border-color: rgba(var(--white), 1);
    }

    &:has(:invalid) {
        border-color: rgba(var(--black), .3);
    }

    &:has(:disabled) {
        background-color: rgba(var(--black), .3);
    }

    &:has(textarea) {
        padding-block: .5rem;
        height: fit-content;
    }
}

.extra-dropdown {
    position: relative;
    cursor: pointer;
    display: flex;
    border: 1px solid rgba(var(--white), 1);
}

.dropdown-list {
    display: none;
    flex-flow: column nowrap;
    gap: .1rem;
    position: absolute;
    top: calc(100% + .15rem);
    left: -.1rem;
    right: -.1rem;
    padding: .1rem;
    max-height: 16rem;
    border: .5px solid rgba(var(--white), 1);
    border-radius: .15rem;
    // background-color: rgba(var(--white), 1);
    font-size: .7rem;
    overflow-y: auto;
    z-index: 1;

    &::-webkit-scrollbar {
        width: .5rem;
        background-image: linear-gradient(to right, orange, gray);
    }

    &::-webkit-scrollbar-thumb {
        border-block: 0;
        border-inline: .05rem solid transparent;
        border-radius: .15rem;
        background-color: goldenrod;

        &:hover {
            background-image: radial-gradient(circle at center, coral, transparent);
        }
    }

    &.show {
        display: flex;
    }

    a{
        color: rgba(var(--white), 1);
    }

    > .dropdown-items {
        display: block;
        padding: .5rem;
        border-radius: .1rem;

        &:hover {
            opacity: .9;
        }

        &.chosen {
            background-color: rgba(var(--white), 1);
            color: rgba(var(--black), 1);
            font-weight: 900;
        }
    }
}
