
.extra-dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-list {
    display: none;
    flex-flow: column nowrap;
    gap: .1rem;
    position: absolute;
    top: calc(100% + .15rem);
    left: -.1rem;
    right: -.1rem;
    padding: .1rem;
    max-height: 16rem;
    border: .5px solid yellowgreen;
    border-radius: .15rem;
    background-color: khaki;
    box-shadow: 0 .5rem 1.5rem -.25rem yellowgreen;
    font-size: .7rem;
    overflow-y: auto;
    z-index: 1;

    &::-webkit-scrollbar {
        width: .5rem;
        background-image: linear-gradient(to right, orange, gray);
    }

    &::-webkit-scrollbar-thumb {
        border-block: 0;
        border-inline: .05rem solid transparent;
        border-radius: .15rem;
        background-color: goldenrod;

        &:hover {
            background-image: radial-gradient(circle at center, coral, transparent);
        }
    }

    &.show {
        display: flex;
    }

    > .dropdown-items {
        display: block;
        padding: .5rem;
        border-radius: .1rem;

        &:hover {
            background-color: red
        }

        &.chosen {
            background-color: blue;
            color: violet;
            font-weight: 900;
        }
    }
}