header{
    width:100%;
    height:5rem;
    background:rgba(var(--white),1);
}
#headerTop{
    > div{
        display:flex;
    }
    .hd-logo-div{
        gap:1rem;
        img{
            width:2rem;
        }
        p{
            display:flex;
            flex-direction:column;
            justify-content:start;
            color:rgba(var(--marineblue),1);
            font-size:var(--font18);
            font-weight:bold;
        }
    }
}
nav{
    width:100%;
    height:5rem;
    background:rgba(var(--marineblue),.8);
    > div{
        display:flex;
        align-items:center;
        justify-content:center;
        height: inherit;
        a{
            color:#fff;
            font-size:var(--font22);
            font-weight:bold;
        }
    }
}
