/*archive.css*/
#archive-nav{
    position: relative; 
    height: 77px;
    background-color: rgba(var(--black), .1);
}

#subNav1 {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 100%;
}

.sub-page-routes1 {
    display: grid;
    place-items: center;
    // width: 19rem;
    height: 2.5rem;
    background-color: rgba(var(--white), 0.4);
    color: rgba(var(--white), 0.75);
    font-size: 0.8rem;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    word-break: keep-all;
    text-align: center;
    flex-basis: 50%;
    font-size: var(--font18);

    &.current {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), 1);
        font-weight: 900;
        pointer-events: none;
        z-index: 1;
    }
}

#archive-content-inner{
    width: 1024px;
    margin: 0 auto;
    background-color: beige;
}

.archive-top-text{
    h3{
        font-size: 1.9rem;
        color: rgba(var(--royalblue), 1);
        font-weight: 900;
        padding-bottom: 2.3rem;
        padding-top: 5.4rem;
    }

    p{
        font-size: var(--font16);
        color: rgba(var(--black), .75);
        margin-top: 1rem;

    }
}

