/*archive.css*/
#archive-nav {
    position: relative;
    height: 77px;
    background-color: rgba(var(--black), .1);
}

#subNav1 {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    width: 100%;
}

.sub-page-routes1 {
    display: grid;
    place-items: center;
    // width: 19rem;
    height: 2.5rem;
    background-color: rgba(var(--white), 0.4);
    color: rgba(var(--white), 0.75);
    font-size: 0.8rem;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    word-break: keep-all;
    text-align: center;
    flex-basis: 50%;
    font-size: var(--font18);

    &.current {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), 1);
        font-weight: 900;
        pointer-events: none;
        z-index: 1;
    }
}

#archive-content-inner {
    width: 1024px;
    margin: 0 auto;
}
//top
.archive-top-text {
    h3 {
        font-size: 1.9rem;
        color: rgba(var(--royalblue), 1);
        font-weight: 900;
        padding-bottom: 2.3rem;
        padding-top: 5.4rem;
    }

    p {
        font-size: var(--font16);
        color: rgba(var(--black), .75);
        margin-top: 1rem;

    }
}

//middle
.archive-middle-icon {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
    margin-bottom: 22.5rem;


    >div {
        display: flex;
        flex-basis: 50%;
        text-align: center;
        flex-direction: column;
        justify-content: center;

    }

}
.archive-record-box{
    height: 27rem;

    h6{
        font-size: var(--font28);
        color: rgba(var(--royalblue), 1);
        font-weight: normal;
        margin-top: 2.4rem;
        margin-bottom: 1.7rem;
        font-weight: 900;
    }  
    
    p{
        font-size: var(--font20);
        color: rgba(var(--royalblue), 1);
        padding: .25rem;
    }
}
.archive-icon-imgs{
    background-color: rgba(var(--royalblue), 1);
    width: 11.7rem;
    height: 11.7rem;
    margin: 0 auto;
    border-radius: 25rem;

}

.archive-icon-img{
    margin: 0 auto;
    width: 7rem;
    height: inherit;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  
    

}

.icon-img1 {
    background-image: url(/common/img/img1.png);
    
}

.icon-img2 {
    background-image: url(/common/img/img2.png);
}

.icon-img3 {
    background-image: url(/common/img/img3.png);
}

.icon-img4 {
    background-image: url(/common/img/img4.png);
}



//bottom
#archive-bottom-Builders{
    height: 43.5rem;
    background-color: rgba(var(--black), .1);
   
}

#archive-bottom-inner{
    width: 1024px;
    margin: 0 auto;
    height: inherit;
    display: flex;
    padding: 6rem 5rem;


    >div{
        flex-basis: 50%;
        
    }
}
.archive-Builders-title{


    p{
        font-size: var(--font22);
        padding: .2rem;
        color: rgba(var(--royalblue), 1);
    }

    .qwe{
        &::before{
            content: '';
            width: 2.2rem;
            height: .15rem;
            display: block;
            background-color: rgba(var(--royalblue), 1);
            margin-bottom: 1rem;

        }
    }
}

.archive-Builders-list{

    color: rgba(var(--black), .4);
    font-size: var(--font18);
    padding-top: .7rem;

    p{
        padding: .6rem;
        letter-spacing: 1px;
    }

}