/*main_css*/

.main-wrap-back{
    background: url(/common/img/back_cloud.jpg);
}

/* 메인화면_검색창 */
#mainSearch{
    background:url(/common/img/main_back_01.jpg) no-repeat;
    width:100%;
    height:90vh;
    background-size:cover;
    #mainSearchInner{
        max-width:1280px;
        margin:0 auto;
        display:flex;
        flex-direction:column;
        align-items: center;
        
    }
    .main-top-select{
        display:flex;
        margin-top:2.5rem;
        margin-left:auto;
        gap: 0.4rem;
        select{
            flex-grow:0;
            color:rgba(var(--white),1);
            padding:.5rem 1.8rem;
            font-size:var(--font13);
            border:1px solid rgba(var(--white),1);
            width:7.5rem;
            gap:.6rem;
            cursor:pointer;
        }
    }
    .main-search-title{
        display:flex;
        justify-content: center;
        align-items:center;
        gap:1rem;
        color:rgba(var(--white),1);
        margin:13rem 0 2.5rem;
        img{
            width:3rem;
        }
        h2{
            font-size:1.5rem;
        }
    }   
    .main-search-bar{
        width:700px;
        display:grid;
        grid-template-columns: 1fr 6rem;;
        border:.3rem solid rgba(var(--white),1);
        border-radius:2rem;
        &:focus-within {
            border-color: rgba(var(--white), .3);
            box-shadow: 0 0 0 .15rem rgba(var(--white), .1);
            input{
                border-radius:2rem 0 0 2rem;    
            }
        }
        input{
            background:rgba(var(--white),1);
            padding:1rem;
            outline: 0;
            border-radius:1rem 0 0 1rem;
        }
        button{
            background:rgba(var(--marineblue),1);
            color:rgba(var(--white),1);
            padding:.8rem;
            cursor:pointer;
            border-radius:0 2rem 2rem 0;
        }
    }
    
}

/* 메인화면_소개영역 */
/* 소개(디지털 아카이브, 유네스코 등재) */
#mainIntro{
    padding-top:39rem;
    position: relative;
    z-index:1;
    background: url(/common/img/data_back_font.png) no-repeat;
    background-position: right 22rem;
    background-size: 40%;
    
    #mainIntroInner{
        background:url(/common/img/main_red_cloud.jpg);
        background-size:150%;
        top: -8rem;
        left:50%;
        transform: translateX(-50%);
        position: absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        > div{
            display:flex;
            flex-direction: column;
            align-items: center;
            width:50%;
            padding:3.5rem 0;
            position:relative;
            h2{
                margin-bottom:1.5rem;
                color:rgba(var(--white),1);
                font-family:'NM';
                font-weight:bold;
                font-size:var(--font28);
            }
            p{
                color:rgba(var(--white),1);
                line-height:1.6;
                font-size:var(--font20);
            }
            &.vt-line{
                width:2px;
                height: 8.5rem;
                background: rgba(var(--white), .25);
            }
            &::after{
                content:'';
                display:block;
                position:absolute;
                width:100%;
                height:100%;
                top:.25rem;
            }
        }
        .main-intro-left{
            &::after{
                background:url(/common/img/logo_w.svg) no-repeat;
                opacity:.15;
                left:0;
                background-size:35%;
            }
        }    
        .main-intro-right{
            &::after{
                background:url(/common/img/UNESCO_logo.svg) no-repeat;
                opacity:.15;
                right:0;
                background-size:41%;
                background-position:top right;
            }
        }
    }
    #mainCollInner{
        flex-direction:column;
        overflow:hidden;
        padding-bottom: 6.5rem;
    }
    
    &::after{
        content:'';
        display:block;
        position:absolute;
        
        
    }
    
  
        
}    

#mainCollection{
    position: relative;
    z-index: 2;
    #mainCollInner{
        position: absolute;
        top: -19.5rem;
        left:0;
        right:0;
        flex-direction: column;
        h3{
            text-align:center;
            font-size:var(--font42);
            margin: 2.2rem auto;
            font-size:var(--font42);
            color: rgba(var(--black),.82);
        }
        hr{
        width:1.9rem;
        height:2px;
        background:rgba(var(--black),1);
        margin:0 auto;
        }
        .main-more-button{
            &:hover{
                background:rgba(var(--black),.82);
                background-clip: border-box;
                -webkit-background-clip: border-box;
                color:rgba(var(--white),1);
                svg{
                fill:rgba(var(--white),1);
                }
            }
            
        }
    }
    #mainCollBottom{    
        width:100%;
        height:28rem;
        background:url(/common/img/main_green_cloud.jpg) no-repeat;
        background-size:150%;
        position:relative;
        .main-coll-slider{
            max-width:1280px;
            margin:0 auto;
            position:relative;
            top:-6.5rem;
            overflow: hidden;
 
            .swiper-slide{
                display:flex;
                flex-direction:column;
                align-items:center;
                cursor:pointer;
                .main-coll-each-container{
                    overflow:hidden;
                }
                &:hover{
                    img{
                        scale:105%;
                        transition:.3s;
                    }
                    button{
                        background:rgba(var(--white),1);
                        background-clip: border-box;
                        -webkit-background-clip: border-box;
                        color: #2eb3a5;
                    }
                }
                h4{
                    font-weight:normal;
                    font-size:var(--font24);
                    margin:1.6rem auto .7rem auto;
                    color:rgba(var(--white),1);
                }
                p{
                    font-size:var(--font18);
                    color:rgba(var(--white),1);
                    font-weight: 100;
                }
                button{
                    border:1px solid rgba(var(--white),1);
                    border-radius:1rem;
                    font-size:var(--font18);
                    padding:0.25rem 0.75rem;
                    font-family:"BN";
                    margin:1.25rem auto 0;
                    color:rgba(var(--white),1);
                    letter-spacing:2px;
                }
            }
            
            
        }
        .main-coll-slider-buttons{
        position:absolute;
        top: -9.5rem;
        right: 25%;
        display:flex;
        gap:.9rem;
        > div{
            width:.45rem;
            height:.95rem;
            background-size: contain;
            cursor:pointer;
        }
        .main-slider-prev{
            background:url(/common/img/main-arr-left.svg) no-repeat;
        }
        .main-slider-pause{
            background:url(/common/img/main-slider-pause.svg) no-repeat;
        }
        .main-slider-next{
            background:url(/common/img/main-arr-right.svg) no-repeat;
        }
        .pause-off{
            background:url(/common/img/main-arr-autoplay.svg) no-repeat !important;
            
        }
    }
    }
}



.main-more-button{
    margin:0 auto;
    border: 1px solid rgba(var(--black),1);
    padding: 0.4rem .85rem 0.4rem 1.25rem;
    font-size:1.1rem;
    display:flex;
    align-items:center;
    cursor:pointer;
    font-family:"BN";
    font-weight:normal;
}


/* 디지털 소장자료 */



/* 주제별 기록물 */

#mainSubject{
    width:100%;
    height:56.5rem;
    background:url(/common/img/main_subject_back.jpg) no-repeat;
    background-size:cover;
    position: relative;
    
    &:before{
        content:'';
        display:block;
        width:100%;
        height:100%;
        background:rgba(var(--marineblue),.75);
        position:absolute;
        top:0;
        left:0;
    
    }
    #mainSubjectInner{
        position: relative;
        z-index:3;
        display:flex;
        flex-direction:column;
        padding-top:7rem;
        hr{
            width:1.9rem;
            height:2px;
            background:rgba(var(--white),1);
            margin:0 auto;
            }
        h3{
            text-align:center;
            font-size:var(--font42);
            margin: 2.2rem auto;
            font-size:var(--font42);
            color: rgba(var(--white),1);
        }
        .main-more-button{
            color:rgba(var(--white),1);
            border:1px solid rgba(var(--white),1);
            margin-bottom:4rem;
            &:hover{
                background:rgba(var(--white), 1);
                color:rgba(var(--marineblue),.75);
                svg{
                    fill:rgba(var(--marineblue),.75);
                }
            }
            svg{
                fill:rgba(var(--white),1);
            }
        }
        .main-subject-list{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:.3rem;
            .main-subject-item{
                border:1px solid rgba(var(--white),1);
                padding: 2.5rem 3.5rem;
                position:relative;
            }
            ul.main-subject-eachlist{
                width:11rem;
                height:8.5rem;
                display:grid;
                grid-template-columns: 1fr;
                grid-template-rows: 3rem 1.5rem 1.5rem 1.5rem;
                grid-gap:.45rem;
                box-sizing: content-box;
                li{
                    display:flex;
                    justify-content: space-between;
                    align-items:center;
                    padding:0 .6rem;
                    font-size:var(--font14);
                    background:rgba(var(--white),1);
                    color:rgba(var(--marineblue),.8);
                    cursor:pointer;
                    &:hover{
                        background:rgba(var(--marineblue),1);
                        color:rgba(var(--white),1);
                        svg{
                            fill:rgba(var(--white),1);
                        }
                    }
                    &:first-child{
                        padding:0;
                        font-size:1.5rem;
                        font-weight:900;
                        margin-bottom:1rem;
                        color:rgba(var(--white),1);
                        background:transparent;
                        cursor:auto;
                    }
                    &.main-filled-item{
                        background:rgba(var(--marineblue),1);
                        color:rgba(var(--white),1);
                        svg{
                            fill:rgba(var(--white),1);
                        }
                        &:hover{
                            background:rgba(var(--white),1);
                            color:rgba(var(--marineblue),1);
                            svg{
                                fill:rgba(var(--marineblue),1);
                            }
                        }
                    }
                }
            }
            .main-subject-nation{
                background:url(/common/img/main_subject_national.png) no-repeat;
                background-position:97% 97%;
            }
            .main-subject-form{
                background:url(/common/img/main_subject_form.png) no-repeat;
                background-position:97% 97%;
            }
            .main-subject-category{
                background:url(/common/img/main_subject_category.png) no-repeat;
                background-position:97% 97%;
            }
            .main-subject-age{
                background:url(/common/img/main_subject_age.png) no-repeat;
                background-position:97% 97%;
                .main-subject-eachlist{
                    grid-template-columns: 1fr 1fr;
                    li{  
                        font-size:var(--font13);
                        padding:0 .2rem 0 .5rem;
                        letter-spacing:-1px;
                        &:first-child{
                            grid-column-start:1;
                            grid-column-end:3;
                        }
                    }
                }
            }
        }
    }
}




/*main.css End*/