
/*admin-list-page*/

a{
    color:rgba(var(--black), .9);
}

/*페이지 상단 이미지 및 글자 영역*/
#admin-sub-Page {
    position: relative;
    width: 100%;
    height: 13rem;
    overflow: hidden;
}

#sub-page-box {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--black), .25);
}

#sub-page-box > [data-sub-image] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
}

[data-sub-text] {
    color: rgba(var(--white), 1);
    text-align: center;
}

[data-sub-title] {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 2px;
}


[data-sub-text] > hr {
    margin: 0.5rem auto;
    width: 5rem;
    border-bottom: 1px solid rgba(var(--white), 1);
}


/*네비 영역*/

#subNav {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.sub-page-routes {
    display: grid;
    place-items: center;
    width: 9rem;
    height: 2.5rem;
    background-color: rgba(var(--white), 0.4);
    color: rgba(var(--white), 0.75);
    font-size: 0.8rem;
    transition: background-color 0.15s, color 0.15s;
    cursor: pointer;
    word-break: keep-all;
    text-align: center;

    &.current {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--black), .9);
        font-weight: 900;
        box-shadow: 0 0 1.5rem rgb(var(--royalblue), .25);
        pointer-events: none;
        z-index: 1;
    }
}

/* 22/12/12 이주성 */



//본문
#adminContent{
    margin-top:2rem;
    .web-common-inner{
		flex-direction:column;
        .adm-go-home-button{
			margin-bottom:.5rem;
            display:flex;
			align-items:center;
            svg{
                margin-right:.25rem;
            }
		}
	}
}
/** 관리자 도록 리스트페이지 */

.admin-book-item{
    line-height:1.35;
    display:grid;
    grid-template-columns: 4rem 5rem .25fr 1fr .5fr;
    grid-gap:.5rem;
    border-top:1px solid rgba(var(--black), .9);
    padding:.5rem .25rem;
    > div{
        padding:0 .25rem;
        &:before{
            content:'';
            display:block;
            width:2px;
            height:inherit;
            background:rgba(var(--black), .25);
        }
        &#adminBookId{
            display: flex;
            align-items: center;
        }
        &#adminBookImg{
            padding:0;
        }
        &#adminBookName{
            display:flex;
            flex-direction:column;
            &:before{
                display:none;
            }
            h3{
                color:rgba(var(--royalblue),1);
            }
            hr{
                content:'';
                display:block;
                width:1rem;
                height:1px;
                background:rgba(var(--royalblue),.5);
                margin:.25rem 0 .35rem;
            }
        }
        &#adminTexts{
            overflow:hidden;
            white-space:normal;
            text-overflow:hidden;
            word-break:break-all;
            -webkit-line-clamp:5;
            -webkit-box-orient:vertical;
            display:-webkit-box;
            background: rgba(var(--black), 0.1);
            padding:.5rem;
            p{
                line-height:1.5;
            }
        }
        &#adminLinks{
            display:flex;
            flex-direction:column;
            a:before{
                display:block;
                color:rgba(var(--marineblue), 1);
                font-weight:bold;
            }
            .admin-link-pro:before{
                content:'도록 링크[전문가]';
                margin-bottom:.25rem;
            }
            .admin-link-ordinary:before{
                margin-top:.5rem;
                content:'도록 링크[일반인]';
                margin-bottom:.25rem;
            }
        }
    }
}


/* 관리자 소장자료 리스트페이지 */

.admin-data-item{
        display:flex;
        flex-direction: column;
    .admin-data-header{
        display:grid;
        grid-template-columns: 7rem .5fr 1fr;
        padding:.5rem;
        text-align:center;
        background: rgba(var(--royalblue),.75);
        color:rgba(var(--white), 1);
    }
    .admin-data-table{
        cursor:pointer;
        line-height:1.35;
        display:grid;
        grid-template-columns: 7rem .5fr 1fr;
        padding:0 .25rem;
        border-bottom: 1px solid rgba(var(--black),.75);
    }
    #adminDataId{
        display: flex;
        justify-content: center;
        align-items: center;
        padding:.5rem;
    }
    #adminDataImg{
        word-break: break-word;
        display:grid;
        flex-direction:column;
        align-items:center;
        gap:1rem;
        padding:.5rem;
        grid-template-columns: 6rem 1fr;
        > img{
            width:6rem;
            margin-right:.5rem;
        }
        > div{
            display:flex;
            flex-direction:column;
            margin-left: 0.5rem;
            }
        a{
            overflow:hidden;
            -webkit-line-clamp: 2;
            word-break: keep-all;
            text-overflow:ellipsis;
            -webkit-box-orient: vertical;
            white-space:nowrap;
        }
    }
    .admin-data-detail{
        display:flex;
        flex-wrap:wrap;
        padding: 0 0.5rem;
        h3{
            width: 100%;
    /* line-height: 1; */
    font-size: var(--font22);
    border-bottom: 1px solid rgba(var(--royalblue),.25);
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
        }
        > div{
            width: 50%;
            display:flex;
            flex-direction:column;

            > p{
                display:flex;
                line-height:1.85;
            }
         
            
            &#adminDataName{
                display:flex;
                flex-direction:column;            
                justify-content: flex-end;
                h3{
                    color:rgba(var(--royalblue),1);
                }
                hr{
                    content:'';
                    display:block;
                    width:1rem;
                    height:1px;
                    background:rgba(var(--royalblue),.5);
                    margin:.25rem 0 .35rem;
                }
            }
            &#adminTexts{
                justify-content: flex-end;

            }
            &#adminLinks{
                display:flex;
                flex-direction:column;
                a:before{
                    display:block;
                    color:rgba(var(--marineblue), 1);
                    font-weight:bold;
                }
            
            }
        }
    }
    
}


.admin-list-subtitle{
    color:rgba(var(--royalblue),.5);
    font-weight:normal;
    font-size:var(--font14);
    display:inline-block;
    width:5rem;
}

#adminWriteBtn{
    display:flex;
    margin-top:1rem;
    button{
        display:flex;
        gap:.35rem;
        margin-left:auto;
        padding:0.45rem 0.75rem .35rem .5rem;
        background:rgba(var(--royalblue),.75);
        border-radius:.5rem;
        color:rgba(var(--white),1);
    }
}